<a href="https://colab.research.google.com/github/LEOISAIAS/Valores-at-picos/blob/main/ValoresAtipicosDataFrame_2022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ***Valores atípicos-Gastos y costos 2022***
## Leonardo Isaías Guevara Pioquinto

In [1]:
#Importamos las librerias pandas, numpy y matplotlib respectivamente
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# **Gastos 2022**

In [ ]:
#Cargar archivo csv desde equipo
from google.colab import files
files.upload()

In [3]:
#Carga desde un archivo .xlsx sin indice
data= pd.read_excel('Gastos y costos 20-23.xlsx', sheet_name='2022')

In [ ]:
#Verificamos información del DataFrame
data.info()

In [ ]:
#Corroboramos valores nulos
valores_nulos=data.isnull().sum()
valores_nulos

# **PROCEDIMIENTO PARA ELIMINAR VALORES NULOS EN DATAFRAME**

In [ ]:
#Reemplazamos valores nulos del dataframe con "bfill"
data1 =data.fillna(method="bfill") 
data1

In [ ]:
#Corroboramos valores nulos del dataframe
valores_nulos=data1.isnull().sum()
valores_nulos

In [ ]:
#Reemplazamos valores nulos del dataframe con "mean"
#Realizamos una copia del dataframe
data2=data.copy()
data2=data2.fillna(round(data.mean(),1))
data2

In [ ]:
#Corroboramos valores nulos del dataframe
valores_nulos=data2.isnull().sum()
valores_nulos

In [ ]:
#Realizamos diagrama de caja o bigote de cada columna del dataframe
fig = plt.figure(figsize =(15, 8))
data2.plot(kind='box', vert=False)
plt.title("Valores Atípicos del Dataframe")
plt.show() #dibujamos el diagrama

# **PROCEDIMIENTO "DESVIACIÓN ESTÁNDAR" PARA ELIMINAR OUTLIERS EN DATAFRAME**

In [ ]:
#Método aplicando desviación estandar. Encuentro los valores extremos
y=data2
Limite_Superior= y.mean() + 3*y.std()
Limite_Inferior= y.mean() - 3*y.std()
print("Limite superior permitido", Limite_Superior)
print("Limite inferior permitido", Limite_Inferior)

In [ ]:
#Encontramos Ouliers del Dataframe
outliers= data2[(y>Limite_Superior)|(y<Limite_Inferior)]
outliers

In [ ]:
#Obtenemos datos y los outliers se convierten en nulos en el DataFrame
data3= data2[(y<=Limite_Superior)&(y>=Limite_Inferior)]
data3

In [ ]:
#Eliminamos columnas innecesarias
data4= data3.drop(['Fecha','Folio','UUID','RFC','Proveedor','TIPO GASTO','Descripción','MP','Otros','Tipo','Status','Poliza'], axis=1)
data4

In [ ]:
#Corroboramos valores nulos del dataframe4
valores_nulos=data4.isnull().sum()
valores_nulos

In [ ]:
#Reemplazamos valores atípicos (nulos) del dataframe con "mean"
#Realizamos una copia del dataframe
data_clean=data4.copy()
data_clean=data_clean.fillna(round(data4.mean(),1))
data_clean

In [ ]:
#Corroboramos valores nulos del dataframe LIMPIO
valores_nulos=data_clean.isnull().sum()
valores_nulos

In [ ]:

fecha=data2['Fecha']
folio=data2['Folio']
UUID=data2['UUID']
RFC=data2['RFC']
prov=data2['Proveedor']
tip=data2['TIPO GASTO']
descr=data2['Descripción']
mp=data2['MP']
tipo=data2['Tipo']
status=data2['Status']
poliza=data2['Poliza']


Datos_limpios1 = pd.concat([fecha,folio,UUID,RFC,prov,tip,descr,mp,tipo,status,poliza, data_clean], axis=1)
Datos_limpios1

In [20]:
#Corroboramos valores nulos del dataframe LIMPIO
valores_nulos=Datos_limpios1.isnull().sum()
valores_nulos

Fecha            0
Folio          102
UUID             0
RFC              0
Proveedor        0
TIPO GASTO       0
Descripción      0
MP             553
Tipo             0
Status           0
Poliza         801
TC               0
Importe          0
IVA              0
RET ISR          0
RET IVA          0
TOTAL MX         0
TOTAL SAT        0
dtype: int64

In [21]:
#Convertir DataFrame a CSV
Datos_limpios1.to_csv("Datos_limpios_desvest_2022.csv")
#descargar archivo filtrado en csv
from google.colab import files 
  
  
files.download("Datos_limpios_desvest_2022.csv")

#**PROCEDIMIENTO "CUANTILES" PARA SUSTITUIR OUTLIERS EN DATAFRAME**

In [22]:
#Método aplicando Cuartiles. Encuentro cuartiles 0.25 y 0.75
y=data4

percentile25=y.quantile(0.25) #Q1
percentile75=y.quantile(0.75) #Q3
iqr= percentile75 - percentile25

Limite_Superior_iqr= percentile75 + 1.5*iqr
Limite_Inferior_iqr= percentile25 - 1.5*iqr
print("Limite superior permitido", Limite_Superior_iqr)
print("Limite inferior permitido", Limite_Inferior_iqr)

Limite superior permitido TC              1.0
Importe      8375.0
IVA          1000.0
RET ISR         0.0
RET IVA         0.0
TOTAL MX     9609.3
TOTAL SAT    9715.0
dtype: float64
Limite inferior permitido TC              1.00
Importe     -5025.00
IVA          -600.00
RET ISR         0.00
RET IVA         0.00
TOTAL MX    -5765.58
TOTAL SAT   -5829.00
dtype: float64

In [23]:
#Encontramos Outliers del Dataframe
outliers_iqr= data4[(y>Limite_Superior_iqr)|(y<Limite_Inferior_iqr)]
outliers_iqr

       TC  Importe  IVA  RET ISR  RET IVA  TOTAL MX  TOTAL SAT
0     NaN      NaN  NaN      NaN      NaN       NaN        NaN
1     NaN      NaN  NaN      NaN      NaN       NaN        NaN
2     NaN      NaN  NaN      NaN      NaN       NaN        NaN
3     NaN      NaN  NaN      NaN      NaN       NaN        NaN
4     NaN      NaN  NaN      NaN      NaN       NaN        NaN
...   ...      ...  ...      ...      ...       ...        ...
2572  NaN      NaN  NaN      NaN      NaN       NaN        NaN
2573  NaN  17310.3  NaN      NaN      NaN  17826.62   17826.62
2574  1.2      NaN  NaN      NaN      NaN       NaN        NaN
2575  1.2      NaN  NaN      NaN      NaN       NaN        NaN
2576  1.2      NaN  NaN      NaN      NaN       NaN        NaN

[2577 rows x 7 columns]

In [24]:
#Obtenemos datos limpios del Dataframe
data3_iqr= data2[(y<=Limite_Superior_iqr)&(y>=Limite_Inferior_iqr)]
data3_iqr

,Fecha,Folio,UUID,RFC,Proveedor,TIPO GASTO,Descripción,MP,TC,Importe,IVA,RET ISR,RET IVA,Otros,TOTAL MX,TOTAL SAT,Tipo,Status,Poliza
0,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,5551.38,888.22,0.0,0.0,NaN,6439.6,6439.6,NaN,NaN,NaN
1,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,5551.98,888.32,0.0,0.0,NaN,6440.3,6440.3,NaN,NaN,NaN
2,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.00,0.00,0.0,0.0,NaN,0.0,0.0,NaN,NaN,NaN
3,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.00,0.00,0.0,0.0,NaN,0.0,0.0,NaN,NaN,NaN
4,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.00,0.00,0.0,0.0,NaN,0.0,0.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2572,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.00,0.00,0.0,0.0,NaN,0.0,0.0,NaN,NaN,NaN
2573,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,516.32,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2574,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00,0.00,0.0,0.0,NaN,0.0,0.0,NaN,NaN,NaN
2575,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00,0.00,0.0,0.0,NaN,0.0,0.0,NaN,NaN,NaN
2576,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00,0.00,0.0,0.0,NaN,0.0,0.0,NaN,NaN,NaN

In [ ]:
#Eliminamos columnas innecesarias
data4_iqr= data3.drop(['Fecha','Folio','UUID','RFC','Proveedor','TIPO GASTO','Descripción','MP','Otros','Tipo','Status','Poliza'], axis=1)
data4_iqr

In [ ]:
#Corroboramos valores nulos del dataframe LIMPIO
valores_nulos=data4_iqr.isnull().sum()
valores_nulos

In [27]:
#Reemplazamos valores atípicos (nulos) del dataframe con "mean"
#Realizamos una copia del dataframe
data5_iqr=data4_iqr.copy()
data5_iqr=data5_iqr.fillna(round(data4_iqr.mean(),1))
data5_iqr

       TC   Importe     IVA  RET ISR  RET IVA  TOTAL MX  TOTAL SAT
0     1.0   5551.38  888.22      0.0      0.0   6439.60    6439.60
1     1.0   5551.98  888.32      0.0      0.0   6440.30    6440.30
2     1.0      0.00    0.00      0.0      0.0      0.00       0.00
3     1.0      0.00    0.00      0.0      0.0      0.00       0.00
4     1.0      0.00    0.00      0.0      0.0      0.00       0.00
...   ...       ...     ...      ...      ...       ...        ...
2572  1.0      0.00    0.00      0.0      0.0      0.00       0.00
2573  1.0  17310.30  516.32      0.0      0.0  17826.62   17826.62
2574  1.2      0.00    0.00      0.0      0.0      0.00       0.00
2575  1.2      0.00    0.00      0.0      0.0      0.00       0.00
2576  1.2      0.00    0.00      0.0      0.0      0.00       0.00

[2577 rows x 7 columns]

In [ ]:
# Unimos la columnas cualitativas con el dataframe

fecha=data2['Fecha']
folio=data2['Folio']
UUID=data2['UUID']
RFC=data2['RFC']
prov=data2['Proveedor']
tip=data2['TIPO GASTO']
descr=data2['Descripción']
mp=data2['MP']
tipo=data2['Tipo']
status=data2['Status']
poliza=data2['Poliza']


Datos_limpios2 = pd.concat([fecha,folio,UUID,RFC,prov,tip,descr,mp,tipo,status,poliza, data5_iqr], axis=1)
Datos_limpios2

In [29]:
#Corroboramos valores nulos del dataframe LIMPIO
valores_nulos=Datos_limpios2.isnull().sum()
valores_nulos

Fecha            0
Folio          102
UUID             0
RFC              0
Proveedor        0
TIPO GASTO       0
Descripción      0
MP             553
Tipo             0
Status           0
Poliza         801
TC               0
Importe          0
IVA              0
RET ISR          0
RET IVA          0
TOTAL MX         0
TOTAL SAT        0
dtype: int64

In [30]:
#Convertir DataFrame a CSV
Datos_limpios2.to_csv("Datos_limpios_iqr_2022.csv")

In [31]:
#descargar archivo filtrado en csv
from google.colab import files 
  
  
files.download("Datos_limpios_iqr_2022.csv")